html, body {
  background-color: antiquewhite;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

* {
  font-family: 'Courier New', Courier, monospace;
  box-sizing: inherit;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc {
  background-color: #525655;
  padding: 0.8rem;
  border-radius: 1rem;
}

table {
  table-layout: fixed;
}

td {
  height: 25%;
  vertical-align: middle;
}

button {
  width: 5rem;
  height: 4rem;
  font-size: 1.5rem;
  margin: 0.15rem;
  border-radius: 1rem;
  border: 0;
}

.equal {
  height: 8rem;
  background-color: #67a602;
}

.number {
  background-color: #1a1d22;
  color: #eee
}

.operator {
  background-color: #828685;
}

.display {
  width: 100%;
  height: 5rem;
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: 1rem;
  margin: 0.5rem 0 0.5rem 0;
  background-color: #89917d;
  display: flex;
  flex-direction: column;
}

.calculation {
  flex: 0.75;
}

.current {
  flex: 1.25;
  font-size: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 1.5rem;
}